.footer {
  position: relative;

  width: 100%;
  max-width: 60rem;

  border-top: 0.1px solid var(--border-primary);
  background: var(--background-primary);

  z-index: 1000;
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.active {
  background: var(--background-secondary);
}

.link:hover {
  background: var(--border-primary-light);
}
