.feed {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: fit-content;
}

.virtualFeed {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  height: calc(100vh - 10rem) !important;
}

@media (min-width: 768px) {
  .virtualFeed {
    height: 100vh !important;
  }
}

.virtualFeed > div > div {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: fit-content;
}
