.header {
  position: relative;

  width: 100%;
  max-width: 60rem;

  padding-top: 1rem;

  border-bottom: 1px solid var(--border-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--background-primary);

  z-index: 1100;
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
