.toasts {
  position: fixed;
  top: 6rem;
  right: 0;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 0.75rem 1rem;
  max-width: min(70vw, 16rem);

  background: var(--toast-background);
  color: var(--background-primary);

  font-size: smaller;
  font-weight: lighter;

  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
