.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  width: 100vw;
  max-width: 30rem;

  background: var(--background-primary);
  color: var(--color-primary);

  border: 1px solid var(--border-primary);
  border-top: none;
  border-right: 1rem solid var(--border-primary);
  border-radius: 0.25rem;

  margin-bottom: 0.75rem;
  padding: 0.75rem;

  font-size: 0.8rem;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 1rem;

  flex: 1;
}

.usernameContainer {
  font-weight: bold;
}

.footer {
  margin: 1rem 0 0 4rem;

  font-weight: bold;
  font-size: 0.6rem;

  color: var(--color-secondary);
}

.likeContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
