.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  width: calc(100vw - 1rem);
  max-width: 30rem;

  background: var(--background-primary);
  color: var(--color-primary);

  border-radius: 0.25rem;

  margin-bottom: 0.25rem;
  padding: 0.75rem;

  font-size: 0.8rem;
}

.comment:first-of-type {
  margin-top: 0.75rem;
}

.main {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 1rem;

  flex: 1;
}

.usernameContainer {
  font-weight: bold;
}

.footer {
  margin: 1rem 0 0 4rem;

  font-weight: bold;
  font-size: 0.6rem;

  color: var(--color-secondary);
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
