.body {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  height: 100vh;
  width: 100vw;
  max-width: 40rem;

  margin: auto;
}

.main {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  margin: 5rem 0;
}
