.comments {
  position: relative;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

.noComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.noCommentsSub {
  font-weight: lighter;
  margin-top: 0.5rem;
}

.virtualCommentsList {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.virtualCommentsList > div > div {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: fit-content;

  padding-bottom: 4rem;
}
