.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 2rem 1rem 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.processing {
  margin-bottom: 1rem;
}

.message {
  font-weight: lighter;
  color: var(--color-secondary);
}

.actions {
  width: 100%;
}

.actionButton {
  width: 100%;
  border-radius: 0;
  padding: 1rem;

  background: inherit;
  color: inherit;
}

.confirm {
  color: var(--red-dark);
  border: 1px solid var(--border-primary-light);
}

.confirm:disabled {
  cursor: wait;
}
