.dpContainer {
  position: relative;

  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
  overflow: hidden;

  outline: 2px solid var(--border-primary);
}

.medium {
  height: 3rem;
  width: 3rem;
  font-size: 20px;
}

.large {
  height: 4.4rem;
  width: 4.4rem;
  font-size: 32px;
}
