.dpContainer {
  position: relative;
  /* extra-small */
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
  overflow: hidden;

  outline: 2px solid var(--border-primary);
}

.small {
  height: 2rem;
  width: 2rem;
}

.medium {
  height: 2.75rem;
  width: 2.75rem;
}

.large {
  height: 8rem;
  width: 8rem;
}

@media (max-width: 768px) {
  .large {
    height: 6rem;
    width: 6rem;
  }
}
