.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;

  transition: all 500ms ease-in-out;
}

.iconWrapperChild {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  height: 1.2rem;
  width: 1.2rem;

  padding: 0.2rem;

  border: 1px solid var(--background-primary);
  border-radius: 50%;

  font-size: 0.7rem;

  background: var(--red-primary);
  color: white;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -0.35rem;

  height: 0.25rem;
  width: 0.25rem;

  border-radius: 50%;

  background: var(--red-primary);
}
