.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.signIn {
  padding: 2rem;

  border: 1px solid var(--border-primary);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4rem;
  transform: scale(1.8);
}

.body {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
