.profileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 50rem;

  padding-top: 0;
  padding: 0.75rem;

  font-size: 0.9rem;

  border-bottom: 1px solid var(--border-primary);
  animation: pulse 1.5s infinite ease-in-out;
}

.username {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;

  background: var(--background-secondary);
}

.dpAndCounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.dpAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeletonProfilePicture {
  width: 8rem;
  height: 8rem;
  background-color: var(--background-secondary);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .skeletonProfilePicture {
    width: 6rem;
    height: 6rem;
  }
}

.skeletonName {
  width: 6rem;
  height: 0.8rem;
  background-color: var(--background-secondary);
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeletonCount {
  width: 2rem;
  height: 1.2rem;
  background-color: var(--background-secondary);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.skeletonCounterName {
  width: 3rem;
  height: 0.8rem;
  background-color: var(--background-secondary);
  border-radius: 0.2rem;
}

.skeletonBio {
  width: 100%;
  height: 1rem;
  background-color: var(--background-secondary);
  margin-top: 1rem;
  border-radius: 0.2rem;
}

.profileActions {
  width: 100%;
  margin: 2rem 0;
}

.skeletonProfileActionsButton {
  width: 50%;
  height: 2.5rem;
  background-color: var(--background-secondary);
  border-radius: 0.25rem;
}

@keyframes pulse {
  0% {
    filter: opacity(0.6);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0.6);
  }
}
