.signInContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100vw;
  height: 90vh;

  padding: 0.75rem;
  padding-top: 4rem;

  overflow-y: scroll;
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;

  height: 100%;
  width: 100%;

  max-width: 28rem;
  max-height: 30rem;

  border: 1px solid var(--border-primary);
  border-radius: 0.75rem;

  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 2rem;
}

.logoContainer {
  transform: scale(1.8);
  margin-bottom: 1rem;
}

.souravcodery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  width: 100%;

  margin: 1rem;
}

.souravcodery > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.googleAuthContainer {
  width: 102%;
  min-width: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2.25rem;
  margin-top: 4rem;

  background: white;
  border: 1px solid var(--border-primary);
}
