.curtain {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--modal-background);
  z-index: 20000;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.curtain:hover {
  filter: opacity(0.5);
}

.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 80%;
  max-width: 15rem;

  background-color: var(--background-primary);
  border-radius: 0.75rem;

  z-index: 30000;

  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 2rem 1rem 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.processing {
  margin-bottom: 1rem;
}

.message {
  font-weight: lighter;
  color: var(--color-secondary);
}

.actions {
  width: 100%;
}

.actionButton {
  width: 100%;
  border-radius: 0;
  padding: 1rem;

  background: inherit;
  color: inherit;
}

.confirm {
  color: var(--red-dark);
  border: 1px solid var(--border-primary-light);
}

.confirm:disabled {
  cursor: wait;
}
