.profileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.75rem;

  font-size: 0.9rem;
}

.dpAndCounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.dpAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 0.4rem;

  text-wrap: nowrap;
}

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-weight: bold;
  font-size: 1.1rem;
}

.bio {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.profileActions {
  width: 100%;

  margin: 1rem 0;
}
.profileActions > button {
  margin-right: 0.5rem;
}
