.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100%;
  height: auto;

  padding-top: 4rem;
  overflow-y: auto;
}
