.postReactions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-bottom: 0.8rem;
}

.postReactionsLeft {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.postReactionLink {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.8rem;
}

.postReactionLink:hover {
  color: var(--color-secondary);
}

.counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 0.25rem;
  width: 0.5rem;
}
