.feed {
  position: relative;
  width: 100%;
  max-width: 50rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.15rem;

  padding-top: 0.15rem;
}

@media (min-width: 768px) {
  .feed {
    gap: 0.3rem;
    padding-top: 0.3rem;
  }
}
