.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  width: 99vw;
  max-width: 30rem;

  aspect-ratio: 3/4;

  background: var(--background-primary);
  color: var(--color-primary);

  border-bottom: 1px solid var(--border-primary);

  margin: 1rem;
}

.post > div {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.headerLeft {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.dpContainer {
  position: relative;

  height: 2.2rem;
  width: 2.2rem;

  border-radius: 50%;
  overflow: hidden;

  border: 1px solid var(--border-primary);
}

.usernameContainer {
  margin-left: 0.8rem;
  font-weight: 600;
}

.content {
  width: 100%;
  height: auto;
  max-height: 55vh;

  aspect-ratio: 3/4;
  border: 0.1px solid var(--background-secondary);
}

.asset {
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0.8rem;
}

.postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.postActionsLeft {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.postActionsRight {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.temporaryIconContainer {
  padding: 0.5rem;
}
