.navbar {
  width: 100%;
  padding: 1rem;

  border-top: 1px solid var(--border-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
