.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  width: 100vw;
  max-width: 30rem;

  margin-bottom: 0.75rem;

  border-radius: 0.5rem;
  font-size: 0.8rem;

  background: var(--background-primary);
  color: var(--color-primary);
}

.post:first-of-type {
  margin-top: 0.75rem;
}

.post > div {
  position: relative;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0.8rem;
}

.captionContainer {
  display: block;
  white-space: pre-wrap;
}

.captionUsername {
  font-weight: bold;
}
